*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-bg: #111;
  --color-text: #ddd;
}

body {
  font-family:
    Play,
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /*noinspection CssUnresolvedCustomProperty*/
  background-color: var(--color-bg);
  /*noinspection CssUnresolvedCustomProperty*/
  color: var(--color-text);
}

#app {
  text-align: center;
}

h1 {
  font-size: 3rem;
  letter-spacing: 0.1em;
}
